<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <section class="flex flex-col justify-center items-center">
        <nav class="absolute top-0 flex justify-around items-center h-[50px] bg-gray-300 w-full">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav>
        <h1 class="font-bold text-3xl mt-[80px] mb-[10px]">Welcome to the page!</h1>
        <button class="bg-gray-300 font-semibold text-xl cursor-pointer w-[20%] rounded-xl self-center p-2"><a href="/login">Empecemos</a></button>
        <footer class="flex justify-center items-center absolute bottom-0 h-[50px] bg-gray-300 w-full">
            Footer
        </footer>
    </section>
</body>
</html>